<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <form action="#" method="POST">
          <div class="form-group">
            <label>Nazwa sali</label>
            <input name="name" type="text" class="form-control">
          </div>
            <div class="form-group">
            <label>Liczba miejs</label>
            <input name="capacity" type="number" min="0"  class="form-control">
          </div>
            <div class="form-group">
            <label>Opis</label>
            <input name="description" type="text" class="form-control">
          </div>
             <div class="checkbox">
                 <label> Rzutnik: <input type="checkbox" name="projector"></label>
             </div>
          <button type="submit" class="btn btn-default">Zatwierdź</button>
        </form>
    </div>
</body>
</html>